/* student Details Form start  */
.student-section {
    min-height: calc(100vh - 64px);
    background-color: var(--primary-gray);
    display: flex;
    justify-content: center;
    align-items: center;

}

.student-section .form-title-data {
    font-size: 35px;
    font-weight: 600;
}

.student-section .student-form-section {
    padding: 20px;
}

.student-section .student-form-section .form-container {
    padding: 20px 0px;

}

.student-section .student-form-section .student-form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
    padding-top: 0;
    background-color: var(--primary-white);
    border-radius: 10px;
}

.student-section .student-form-section .form-label {
    color: var(--primary-black);
    font-weight: 600;
    margin: 0;
    margin-bottom: 4px;
}

.student-section .student-form-section .form-title {
    color: var(--primary-black);
}

.student-section .student-form-section .form-error {
    color: var(--primary-red);
}


.student-section .student-form-section .form-control,
.student-section .student-form-section .form-check-input {
    border: 1px solid var(--light-gray);
}

.student-section .student-form-section .form-control:focus,
.student-section .student-form-section .form-check-input:focus {
    box-shadow: none !important;
}

.student-section .student-form-section .form-item-section {
    margin-left: 0px;
}

.student-section .student-form-section .submit-button {
    background-color: var(--primary-aqua);
    border: 2px solid var(--primary-aqua);
    color: var(--primary-white);
    cursor: pointer;
    font-weight: 600;
    padding: 9px 25px;
}

.student-section .student-form-section .submit-button:hover {
    background-color: var(--primary-white);
    color: var(--primary-aqua);
}

/* set Disable btn css  */
.student-section .student-form-section .submit-button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: var(--primary-aqua);
    color: var(--primary-white);
}

.subject-remove-btn:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.student-section .student-form-section .cancel-button {
    cursor: pointer;
    font-weight: 600;
    padding: 9px 25px;
    background-color: var(--primary-white);
    color: var(--primary-aqua);
    border: 2px solid var(--primary-aqua);
}

.student-section .student-form-section .cancel-button:hover {
    background-color: var(--primary-aqua);
    color: var(--primary-white);
}

.student-section .input-date[type="date"] {
    position: relative;
}

.student-section .input-date[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
    cursor: text;
}

@media screen and (max-width:360px) {
    .student-section .student-form-section .student-form {
        padding: 3px;
    }
}

@media screen and (max-width:570px) {
    .student-section .form-title-data {
        font-size: 26px;
    }
}

/* student Form End  */